html {
  height: 100%;
  margin: 0%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0%;
  display: grid;
  grid-template-rows: 100fr 80fr 1780fr 129fr;
  grid-template-columns: 100fr 650fr 140fr;
  background-color: black;
}

.header {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: antiquewhite;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-bottom: 1px rgb(172, 165, 165) solid;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}

.header__logo {
  width: 123px;
  height: 20px;
  padding-left: 20px;
}

.header__search {
  padding: 5px;
  margin-right: 15px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  background-image: url(/src/assets/search_button.png);
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.section {
  margin-top: 30px;
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 60fr 750fr 108fr;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.section__title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
  font-weight: bolder;
  color: white;
  grid-row: 1/2;
  justify-items: center;
}

.section__main {
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.section__main--notSearchImg {
  justify-self: center;
  align-self: center;
}

.section__main--notSearchTitle {
  margin-top: 30px;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}

.section__main--box {
  margin-bottom: 30px;
  flex-basis: calc(25%); /* 100%를 4등분하여 한 줄에 4개 */
  max-width: calc(25%);
}

.section__main--box-img {
  width: 130px;
  height: 130px;
}

.section__main--box-title {
  color: white;
  max-width: 130px;
}

.section__main--box-rate {
  color: white;
}

.section__main--box-rateImg {
  vertical-align: text-bottom;
}

.section__button {
  font-family: Roboto;
  height: 30px;
  grid-row: 3/4;
  background-color: #f33f3f;
  border-radius: 4px;
  color: white;
  border: 1px solid red;
  margin-top: 10px;
  margin-right: 115px;
  width: 89%;
}
