@media (max-width: 480px) {
  body {
    grid-template-columns: 30fr 1000fr 30fr;
  }
  .section__main--box {
    margin-bottom: 10px;
    flex-basis: calc(50%);
    max-width: calc(50%);
  }
  .section__main--box-img {
    width: 140px;
    height: 140px;
  }
  .section__main--box-title {
    color: white;
    max-width: 140px;
  }
  .header__search {
    width: 20px;
    background-image: url(/src/assets/search_button.png);
    background-position: right 5px center;
    background-size: 20px;
  }
  .section {
    margin-left: 50px;
  }
  .header__search::placeholder {
    opacity: 0;
  }
}

@media (max-width: 440px) {
  .section {
    margin-left: 30px;
  }
}

@media (max-width: 380px) {
  .section {
    margin-left: 20px;
  }
  .section__main--box-img {
    width: 120px;
    height: 120px;
  }
  .section__main--box-title {
    color: white;
    max-width: 120px;
  }
}
