@media (min-width: 631px) and (max-width: 1024px) {
  body {
    grid-template-columns: 50fr 1000fr 60fr;
  }
  .section {
    margin-left: 70px;
  }
  .section__main--box {
    margin-bottom: 20px;
    flex-basis: calc(33%);
    max-width: calc(44%);
  }
  .section__main--box-img {
    width: 140px;
    height: 140px;
  }
  .section__main--box-title {
    color: white;
    max-width: 140px;
  }
}

@media (min-width: 481px) and (max-width: 631px) {
  body {
    grid-template-columns: 50fr 1000fr 60fr;
  }
  .section {
    margin-left: 50px;
  }
  .section__main--box {
    margin-bottom: 30px;
    flex-basis: calc(33%);
    max-width: calc(44%);
  }
  .section__main--box-img {
    width: 120px;
    height: 120px;
  }
  .section__main--box-title {
    color: white;
    max-width: 120px;
  }
}
