.section__main {
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.section__main--box {
  margin-bottom: 30px;
  flex-basis: calc(25%); /* 100%를 4등분하여 한 줄에 4개 */
  max-width: calc(25%);
}

.section__main--box-img {
  width: 130px;
  height: 130px;
}

.section__main--box-title {
  color: white;
  max-width: 130px;
}

.section__main--box-rate {
  color: white;
}

.section__main--box-rateImg {
  vertical-align: text-bottom;
}
